<% provide(:title, "Material Sass") %>
<div class="container">
  <div class="row">
    <div class="col s12 text-center">
      <h1>Materialize SASS</h1>
    </div>
    <form id="color_form" action="static_pages/download" method="get">
      <div class="row">
<div class="col s12">
    <div class="card" id='card_primary_color'>
        <div class="card-content white-text row">
            <div class="col s6">
              <div class="input-field">
                <select name="primary_color" id="primary_color">
                  <option>materialize-red</option>
                  <option>red</option>
                  <option>pink</option>
                  <option>purple</option>
                  <option>deep-purple</option>
                  <option>indigo</option>
                  <option>blue</option>
                  <option>light-blue</option>
                  <option>cyan</option>
                  <option>teal</option>
                  <option>green</option>
                  <option>light-green</option>
                  <option>lime</option>
                  <option>yellow</option>
                  <option>amber</option>
                  <option>orange</option>
                  <option>deep-orange</option>
                  <option>brown</option>
                  <option>blue-grey</option>
                  <option>grey</option>
                  <option>shades</option>
                </select>
                <label class='white-text'>Primary Color: </label>
              </div>
            </div>

        <div class="col s6">
              <div class="input-field">
                <select name='primary_color_tone' id='primary_color_tone'>
                  <option>base</option>
                  <option>lighten-5</option>
                  <option>lighten-4</option>
                  <option>lighten-3</option>
                  <option>lighten-2</option>
                  <option>lighten-1</option>
                  <option>darken-1</option>
                  <option>darken-2</option>
                  <option>darken-3</option>
                  <option>darken-4</option>
                  <option>accent-1</option>
                  <option>accent-2</option>
                  <option>accent-3</option>
                  <option>accent-4</option>
                </select>
                <label class='white-text'>Primary Color Tone:</label>
              </div>
            </div>
          </div>
        </div>
        </div>

<div class="col s12">
    <div class="card" id='card_secondary_color'>
        <div class="card-content white-text row">
            <div class="col s6">
              <div class="input-field">
                <select name="secondary_color" id="secondary_color">
                  <option>materialize-red</option>
                  <option>red</option>
                  <option>pink</option>
                  <option>purple</option>
                  <option>deep-purple</option>
                  <option>indigo</option>
                  <option>blue</option>
                  <option>light-blue</option>
                  <option>cyan</option>
                  <option>teal</option>
                  <option>green</option>
                  <option>light-green</option>
                  <option>lime</option>
                  <option>yellow</option>
                  <option>amber</option>
                  <option>orange</option>
                  <option>deep-orange</option>
                  <option>brown</option>
                  <option>blue-grey</option>
                  <option>grey</option>
                  <option>shades</option>
                </select>
                <label class='white-text'>Secondary Color: </label>
              </div>
            </div>
        <div class="col s6">
              <div class="input-field">
                <select name='secondary_color_tone' id='secondary_color_tone'>
                  <option>base</option>
                  <option>lighten-5</option>
                  <option>lighten-4</option>
                  <option>lighten-3</option>
                  <option>lighten-2</option>
                  <option>lighten-1</option>
                  <option>darken-1</option>
                  <option>darken-2</option>
                  <option>darken-3</option>
                  <option>darken-4</option>
                  <option>accent-1</option>
                  <option>accent-2</option>
                  <option>accent-3</option>
                  <option>accent-4</option>
                </select>
                <label class='white-text'>Secondary Color Tone:</label>
              </div>
            </div>
          </div>
        </div>
        </div>

<div class="col s12">
    <div class="card" id='card_success_color'>
        <div class="card-content white-text row">
            <div class="col s6">
              <div class="input-field">
                <select name="success_color" id="success_color">
                  <option>materialize-red</option>
                  <option>red</option>
                  <option>pink</option>
                  <option>purple</option>
                  <option>deep-purple</option>
                  <option>indigo</option>
                  <option>blue</option>
                  <option>light-blue</option>
                  <option>cyan</option>
                  <option>teal</option>
                  <option>green</option>
                  <option>light-green</option>
                  <option>lime</option>
                  <option>yellow</option>
                  <option>amber</option>
                  <option>orange</option>
                  <option>deep-orange</option>
                  <option>brown</option>
                  <option>blue-grey</option>
                  <option>grey</option>
                  <option>shades</option>
                </select>
                <label class='white-text'>Success Color: </label>
              </div>
            </div>

        <div class="col s6">
              <div class="input-field">
                <select name='success_color_tone' id='success_color_tone'>
                  <option>base</option>
                  <option>lighten-5</option>
                  <option>lighten-4</option>
                  <option>lighten-3</option>
                  <option>lighten-2</option>
                  <option>lighten-1</option>
                  <option>darken-1</option>
                  <option>darken-2</option>
                  <option>darken-3</option>
                  <option>darken-4</option>
                  <option>accent-1</option>
                  <option>accent-2</option>
                  <option>accent-3</option>
                  <option>accent-4</option>
                </select>
                <label class='white-text'>Success Color Tone:</label>
              </div>
            </div>
          </div>
        </div>
        </div>

<div class="col s12">
    <div class="card" id='card_error_color'>
        <div class="card-content white-text row">
            <div class="col s6">
              <div class="input-field">
                <select name="error_color" id="error_color">
                  <option>materialize-red</option>
                  <option>red</option>
                  <option>pink</option>
                  <option>purple</option>
                  <option>deep-purple</option>
                  <option>indigo</option>
                  <option>blue</option>
                  <option>light-blue</option>
                  <option>cyan</option>
                  <option>teal</option>
                  <option>green</option>
                  <option>light-green</option>
                  <option>lime</option>
                  <option>yellow</option>
                  <option>amber</option>
                  <option>orange</option>
                  <option>deep-orange</option>
                  <option>brown</option>
                  <option>blue-grey</option>
                  <option>grey</option>
                  <option>shades</option>
                </select>
                <label class='white-text'>Error Color: </label>
              </div>
            </div>

        <div class="col s6">
              <div class="input-field">
                <select name='error_color_tone' id='error_color_tone'>
                  <option>base</option>
                  <option>lighten-5</option>
                  <option>lighten-4</option>
                  <option>lighten-3</option>
                  <option>lighten-2</option>
                  <option>lighten-1</option>
                  <option>darken-1</option>
                  <option>darken-2</option>
                  <option>darken-3</option>
                  <option>darken-4</option>
                  <option>accent-1</option>
                  <option>accent-2</option>
                  <option>accent-3</option>
                  <option>accent-4</option>
                </select>
                <label class='white-text'>Error Color Tone:</label>
              </div>
            </div>
          </div>
        </div>
        </div>

<div class="col s12">
    <div class="card" id='card_link_color'>
        <div class="card-content white-text row">
            <div class="col s6">
                <div class="input-field">
                    <select name="link_color" id="link_color">
                      <option>materialize-red</option>
                      <option>red</option>
                      <option>pink</option>
                      <option>purple</option>
                      <option>deep-purple</option>
                      <option>indigo</option>
                      <option>blue</option>
                      <option>light-blue</option>
                      <option>cyan</option>
                      <option>teal</option>
                      <option>green</option>
                      <option>light-green</option>
                      <option>lime</option>
                      <option>yellow</option>
                      <option>amber</option>
                      <option>orange</option>
                      <option>deep-orange</option>
                      <option>brown</option>
                      <option>blue-grey</option>
                      <option>grey</option>
                      <option>shades</option>
                    </select>
                    <label class='white-text'>Link Color: </label>
                </div>
            </div>

            <div class="col s6">
                <div class="input-field">
                    <select name='link_color_tone' id='link_color_tone'>
                      <option>base</option>
                      <option>lighten-5</option>
                      <option>lighten-4</option>
                      <option>lighten-3</option>
                      <option>lighten-2</option>
                      <option>lighten-1</option>
                      <option>darken-1</option>
                      <option>darken-2</option>
                      <option>darken-3</option>
                      <option>darken-4</option>
                      <option>accent-1</option>
                      <option>accent-2</option>
                      <option>accent-3</option>
                      <option>accent-4</option>
                    </select>
                    <label class='white-text'>Link Color Tone:</label>
                </div>
            </div>
        </div>
    </div>
</div>
        <button type="submit"
                class="red lighten-1 waves-effect waves-light btn col s12">
          Download
        </button>
    </form>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {

    function change_card_color(){
      if (this.id.split('_')[2] == 'tone'){
        var tone_id = this.id;
        var color_id = this.id.split('_')[0] + '_color';
        var card_id = 'card_' + color_id;
      } else{
        var card_id = 'card_' + this.id;
        var tone_id = this.id + '_tone';
        var color_id = this.id;
      }

      console.log(card_id);
      console.log(color_id);
      console.log(tone_id);

      var classes = $('#'+card_id).attr('class').split(/\s+/);

      if (classes.length == 1){
        $('#'+card_id)
        .addClass($('#'+color_id).val())
        .addClass($('#'+tone_id).val());
      } else {
        $('#'+card_id)
        .removeClass(classes[classes.length - 2])
        .removeClass(classes[classes.length - 1])
        .addClass($('#'+color_id).val())
        .addClass($('#'+tone_id).val());
      }
    }

    $('select').material_select();
    $('select').on('change', change_card_color);
    $.each($('select'), function (){
      try {
        $(this).change();
      } catch (e){
        console.error();
      }
    })
  });

</script>